<!doctype html>
<html>
        <head>
                <title>Layout test</title>
        </head>
        <body>
                {{#layout}}
{{{content}}}
                {{/layout}}
        </body>
</html>