<section id="url">
        {{module}}/{{controller}}/{{action}}
</section>
{{#model}}
<section>
        <h1>{{title}}</h1>
        <p>{{description}}</p>
        <div>
        {{#content}}
                <p>
                {{.}}
                </p>
        {{/content}}
        </div>
</section>
{{/model}}